h2 {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color: white;
    border-color: #FFFFFF;
    margin-top: 20px;
    padding-top: 20px;
    font-family: "Helvetica Neue";
    text-decoration: underline;

}

body {
    background-color: saddlebrown;
}
.navbar-brand {
    margin: 0;
    padding: 0;
}

.logo{
    height: 45px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
}

.contact_form{
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 50px;
}
.row{
    margin-right: -8px;
    margin-left: -8px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.thankyou{
    width: 320px;
    height: 420px;
    margin-left: 50px;
    margin-top: -90px;
}