h2 {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color: white;
    border-color: #FFFFFF;
    margin-top: 20px;
    padding-top: 20px;
    font-family: "Helvetica Neue";
    text-decoration: underline;

}

body {
    background-color: saddlebrown;
}
.navbar-brand {
    margin: 0;
    padding: 0;
}

.logo{
    height: 45px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
}